.user-profile
  // background-color: burlywood
  position: relative
  height: 20%
  display: flex
  justify-content: center
  align-items: center

  .user-picture
    // background-color: coral
    width: 15vh
    height: 15vh
    background-size: cover
    background-repeat: no-repeat
    border-radius: 7.5vh
    flex-shrink: 0
    // vertical-align: middle

  .user-info
    // background-color: chartreuse
    display: inline-flex
    width: 80%
    align-items: center
    height: 100%

    .user-name
      // background-color: aquamarine
      height: 100%
      width: 100%
      display: flex
      font-weight: bold
      padding: .2vh
      font-family: Oswald
      // margin-left: 3vh
      text-align: center
      align-items: center
      justify-content: center

      .name
        margin-left: 2vh

.portrait

  .user-profile
    height: 15vw

    .user-picture
      width: 13vw
      height: 13vw
      border-radius: 7.5vw

.squared
  
  .user-profile
    height: 16%

    .user-picture
      width: 12vw
      height: 12vw

.banner-h

  .user-profile
    height: 100vh
    width: 200vh
    min-width: 200vh
    flex-shrink: 0

    .user-info
      width: 190vh

      .user-picture
        width: 90vh
        height: 90vh
        border-radius: 45vh
      .user-name
        width: 200vh
        height: 100vh
      .name
        margin-left: 10vh